{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "jest": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "max-len": [
      2,
      {
        "code": 80,
        "tabWidth": 4,
        "ignoreUrls": true
      }
    ]
  }
}
